* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




header .Redessociales a {
    padding: 5px;
    font-size: 30px;
    color: black;
}

.Redessociales a:hover {
    color: aqua;
}


.Pipistrello {
    display: flex;
    flex-direction: row;
    background-color: rgb(172, 210, 197);
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

header .Pipistrello .titulo-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.Pipistrello .titulo-banner h1 {
    color: black;
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

.Redessociales {
    display: flex;
    justify-content: right;
}

.Pipistrello img {
    width: 20%;
}


.navbar {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(143, 207, 185) !important;
}

header .navbar-brand {
    width: 100px;
    height: 100px;
}

.Bannerlibreria img {
    width: 100%;
    height: 100%;

}

header .Bannerlibreria div {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.carritonav img {
    width: 15px;
    height: 15px;
}



.Bienvenidos {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
    font-size: 35px;
    margin-top: 50px;
}

.Tituloseccion {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
    font-size: 40px;
    margin: 30px;

}

.caja-libros img {
    width: 200px;
    height: 300px;
}


.Titulocard {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-decoration: underline;
    margin-top: 20px;
}

.Libros h3 {
    margin-left: 90px;
    margin-top: 60px;
}

.caja-libros {
    width: 18%;
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.libro-uno {
    margin: 40px;
    border: solid 2px;
    padding: 10%;

}

.libro-dos {
    margin: 40px;
    border: solid 2px;
    padding: 10%;
}

.libro-tres {
    margin: 40px;
    border: solid 2px;
    padding: 10%;
}

.libro-cuatro {
    border: solid 2px;
    margin: 40px;
    padding: 10%;
}


.botones-card {
    width: 100%;
    display: flex;
    justify-content: center;
}

.botones-card a:hover {
    background-color: rgb(63, 205, 230);
    color: black;
}

.botones-card a {
    background-color: rgb(122, 249, 232);
    padding: 5%;
    text-decoration: none;
    margin: 10px;

}

.boton-carro {
    background-color: blueviolet;
    padding: 5%;
}

.boton-carro:hover {
    background-color: rgb(63, 205, 230);
    color: black;
}

.boton-vertodo {

    border-radius: 15px;
    padding: 30%;
    display: flex;
    justify-content: center;
}

.boton-vertodo a {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

main .whatsapp {
    position: fixed;
    bottom: 100px;
    right: 50px;
}



main h4 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

main p {
    font-family: Arial, Helvetica, sans-serif;
}

main .boton-vertodo {
    text-decoration: none;
    text-align: center;
    background-color: aquamarine;
    padding: 5px;
    display: inline-block;
}

footer .footer {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}


.footer-grid {
    background-color: rgb(63, 205, 230);
    display: grid;
    grid-template-columns: 1 fr 1fr 1fr;
    grid-auto-rows: 40px;
    padding-top: 30px;
    padding-bottom: 20px;

}

.primer-item {
    grid-column: 1/2;
    margin-left: 30px;
}

.segundo-item {
    grid-column: 2/3;
}


.tercer-item {
    grid-column: 3/4;
}

.formulario {
    margin-bottom: 10px;
}

.cajaconsulta {
    margin: 30px;
    width: 80%;
    background-color: rgb(212, 249, 238);
    padding: 10px;
}

.cajaconsulta div label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
}


.cajaconsulta div {
    margin: 20px;
}


.contacto-grid {
    display: grid;
    grid-template-columns: 1 fr 1fr;
    grid-auto-rows: 600px;
}

.cajaconsulta {
    grid-column: 2/3;
}

.Local {
    grid-column: 1/2;
    margin: 30px;

}

.quienessomos img {
    width: 900px;
    height: 500px;
}


@media screen and (max-width:) {}